body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  background: #fff;
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.normal {
  color: green;
}

.overweight {
  color: orange;
}

.obese {
  color: red;
}

.underweight {
  color: blue;
}

.error {
  color: red;
}
